body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.parent{
    width: 100%;
    height: 100vh;
    background: transparent;
/*     overflow: hidden;
 */}

#heading{
    font-size: 1.5rem;
    color: #5858f7;
    text-align: center;
    margin-top: 0%;
    font-family: 'Poppins', sans-serif;
}

#heading .headingText{
    text-decoration: underline;
}

#heading .special{
    color: #3d8adc;
}



.pattern{ 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23eccfd4%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f0dbde%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fa9c9d%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fbb4b5%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23ff5757%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ff8181%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23d7f0fc%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cpath d=%22M0 250c111.74-18.023 223.481-36.045 311-24 87.519 12.045 150.816 54.159 243 76s213.254 23.41 314 1c100.746-22.41 181.17-68.8 268-84 86.83-15.2 180.07.793 284 1 103.93.207 218.551-15.37 317-13 98.449 2.37 180.724 22.685 303 43l-40 750H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 500c112.98 13.54 225.96 27.08 311 40 85.04 12.92 142.14 25.217 229 12 86.86-13.217 203.479-51.95 308-53 104.521-1.05 196.944 35.585 295 28 98.056-7.585 201.746-59.388 298-60 96.254-.612 185.073 49.968 277 64 91.927 14.032 186.964-8.484 322-31l-40 500H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 750c111.965 30.464 223.93 60.928 315 54 91.07-6.928 161.244-51.246 241-76 79.756-24.754 169.095-29.942 273-2s222.377 89.015 319 78c96.623-11.015 171.399-94.12 264-98 92.601-3.88 203.029 71.463 304 92 100.971 20.537 192.486-13.731 324-48l-40 250H0Z%22 fill=%22url(%23c)%22%2F%3E%3C%2Fsvg%3E");
}


#envelope{
    position: relative;
    width: 420px;
    height: 320px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 auto;
    top: 160px;
    background-color: #c857f5;
    box-shadow: 0 2px 26px rgba(24, 19, 19, 0.1);
}

.front{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
}

/* .flap{
    border-left: 210px solid transparent;
    border-right: 211px solid transparent;
    border-bottom: 185px solid transparent;
    border-top: 135px solid #3a64fb;
    transform-origin: top;
}

.pocket{
    border-left: 210px solid #4fa0f6;
    border-right: 211px solid #4fa0f6;
    border-bottom: 185px solid rgb(48, 148, 215);
    border-top: 135px solid transparent;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}  */

.letter{
    position: relative;
    background-color: aliceblue;
    width: 90%;
    height: 90%;
    top: 5%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 26px rgba(18, 14, 14, 0.1);
}

.letter:after{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(215, 227, 239, 0.7) 55%, rgba(215,227,239,1) 100%);
}

.letter-content{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #eeeff0;
}

.open .flap{
    transform: rotate(180deg);
    transition: transform 0.5s ease, z-index 0.5s ease;
    z-index: 3;
}

.close .flap{
    transform: rotate(0deg);
    transition: transform 0.5s ease, z-index 0.5s ease;
    z-index: 4;
}

.close .letter{
    transform: translateY(0px);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 1;
}

.open .letter{
    transform: translateY(-60px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.seal{
    display: block;
    width:4.4rem;
    height: 4.4rem;
    position: absolute;
    left:50%;
    top: 49%;
    margin: -2.2rem 0 0 -2.2rem;
    border-radius: 2.2rem 19.re 2.3rem 2.0rem;
    background: #d41818;
    color: #f18c8c;
    border-color: #f35c5c;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2) inset,
                0 3px 3px rgba(255, 254, 254, 0.6) inset,
                0 1px 5px #1c1b1b;
    text-align: center ;
    line-height: 4.2rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 5;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 40px;
}

.seal.embossed {
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-image: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.2) 100%);
}

.letter-content {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #eeeff0;
    word-wrap: break-word; /* Ensures words wrap to the next line */
    overflow-wrap: break-word; /* Alternative property for wrapping text */
}


.envlope-wrapper{
    height: 480px;
}

.commands{
    text-align: center;
}

.commands button{
    font-weight: 800;
    font-size: 1.2rem;
    font-style: normal;
    transition: all 0.3s linear;
    background-color: transparent;
    border: solid 2px #f18c8c;
    border-radius: 4px;
    color: #3d3838;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px;
    line-height: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    min-width: 120px;
}

.commands button:hover{
    background-color: #f18c8c;
    color: #fff;
}

.options {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px 0; 
    bottom: 0;
}

.accept,.decline {
    background-color: #d170ee;
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px;
    z-index: 3;
}

.kidding, .reschedule {
    background-color: #f18c8c;
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 4px; 
    z-index: 3;
}

img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

